
/*REGLES GENERALES*/
*::-moz-selection {
  background-color: #3aaa35;
  color: #fff;
}
*::selection {
  background-color: #3aaa35;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  color: #878787;
}
.button:visited, .button:target, .button:focus, .button:active {
  text-decoration: none;
color: #fff;
}
.row {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.equal-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.container {
  padding: 0;
}

section {
  padding-bottom: 100px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.list li:before {
  content: url('../img/success.png');
  margin-right: 10px;
  height: 20px;
  margin-top: 5px;
}
.list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
.container-fluid {
  padding: 0;
}
.separation {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.separation svg {
}
.box-h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
h2 {
  text-align: center;
  font-size: 6rem;
  font-weight: 300;
  color: #3aaa35;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 50px;
}
h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 2px #3aaa35;
  bottom: -15px;
  left: 0;
  -webkit-transform: scaleX(0.6);
  -ms-transform: scaleX(0.6);
  transform: scaleX(0.6);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

p{
  /*margin-top: 15px;*/
}

.bouton-remonter {
  width: 50px;
  height: 50px;
  background-color: #3aaa35;
  position: fixed;
  bottom: -60px;
  right: 30px;
  z-index: 6000;
  -webkit-transition: bottom ease-in 0.3s;
  transition: bottom ease-in 0.3s;

}
.bouton-remonter img {
  margin-left: 15%;
  margin-top: 15%;
  width: 70%;
  height: 70%;


}
.bouton-remonter:hover {
  cursor: pointer;
}
.show {
  /*visibility: visible;*/
  bottom: 30px;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #3aaa35;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  box-sizing: border-box;
}
.button:hover {
  text-decoration: none;
  color: #fff;
}



/*REGLES HEADER---------------------------------------------------------------*/

.header {
  /*background-color: #ededed;*/
  background-color: #f2f3f8;

}
.top {
  background-color: #3aaa35;
  background-color: #575756;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 5000;
}
.top {
  width: 100%;
  z-index: 6000;
}
.top .mail, .top .phone, .top .social {
  display: inline-block;
  float: left;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.top a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  float: left;
}
.top .mail a, .top .phone a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.top .mail img, .top .phone img {
  margin-right: 10px;
}
.top .mail span, .top .phone span {
  line-height: 24px;
  display: block;
}

.top .social a img {
  height: 20px;
  margin-left: 20px;
}
.header h1 {
  margin-left: 30px;
}
.header h1 a img {
  width: 200px;
}
#titre-menu-mobile, #fermeture-menu-mobile, #bouton-menu-mobile {
  display: none;
}

.header ul {
  float: right;
  padding: 30px;
}
.header ul li {
  float: left;
}
.header ul li a {
  display: block;
  color: #878787;
  text-decoration: none;
  margin-right: 20px;
  position: relative;
}

.current-link {
  color: #3aaa35 !important;
  /*font-weight: 600;*/
}

.header .intro {
  display: block;
  width: calc(100%/3);
  margin-top: 20px;
  margin-left: 30px;
  color: #3aaa35;
}

/*REGLES PRESTATIONS----------------------------------------------------------*/

#prestations .row div {
  padding: 0;
}

.bloc-prestations,.bloc-prestations:hover {
  background-color: #ededed;
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 30px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 100%;
  width: 100%;
}
.contenu-bloc-prestations {
  background-color: rgba(255, 255, 255, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  opacity: 0;
  border-radius: 3px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contenu-bloc-prestations h3 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  color: #3aaa35;
  padding: 0 10px;
  margin-top: 30px;
}
.contenu-bloc-prestations .box-picto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #575756;
}
.contenu-bloc-prestations .box-picto img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 50px;
  min-height: 50px;
  -webkit-flex-basis: 150px;
      -ms-flex-preferred-size: 150px;
          flex-basis: 150px;
}
.contenu-bloc-prestations p {
  display: block;
  text-decoration: none;
  /*padding: 15px;*/
  /*border-left: solid 2px #3aaa35;*/
  box-sizing: border-box;
  margin: 30px;
  margin-top: 0;

  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}
.contenu-bloc-prestations a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #3aaa35;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
-webkit-flex-basis: fill;
    -ms-flex-preferred-size: fill;
        flex-basis: fill;
-webkit-box-flex: 0;
-webkit-flex-grow: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
-webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
        flex-shrink: 0;

}

#site-vitrine {
  background-image: url('../img/vitrine.jpg');
  background-position: center;
  background-size: cover;
}
#site-vitrine:hover .contenu-bloc-prestations {
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
#e-commerce {
  background-image: url('../img/e-commerce.jpeg');
  background-position: center;
  background-size: cover;
}
#e-commerce:hover .contenu-bloc-prestations {
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
#dev {
  background-image: url('../img/code.jpg');
  background-position: center;
  background-size: cover;
}
#dev:hover .contenu-bloc-prestations {
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

/*REGLES SERVICES-------------------------------------------------------------*/
#services {
  background-color: #f2f3f8;
}

.bloc-service {
  box-sizing: border-box;
  padding: 0;
  padding: 0px 15px;
  float: left;
}

.bloc-service .line {
  height: 2px;
  width: 100%;
  background-color: #3aaa35;

}
.bloc-service-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.bloc-service-top img {
  width: 50px;
  height: 50px;
}
.bloc-service-top .line {
  background-color: #3aaa35;
  width: 100%;
  height: 2px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.bloc-service-top h4 {
  line-height: 50px;
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.bloc-service p {
  display: block;
  text-align: justify;
  padding: 0;

  padding-bottom: 10px;
}

/*REGLES TECHNOLOGIES---------------------------------------------------------*/

#technologies .row {
  margin: 0;
}
.carte-technologies {
  min-height: 300px;
  /*background-color: #3aaa35;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carte-technologies img {
  height: 150px;
  margin: auto;
}

/*REGLES TEMOIGNAGES---------------------------------------------------------*/

#temoignages {
  background-color: #f2f3f8;
}
.testimonials-slider {
  width: 70%;
  margin: auto;
}
.slick-slide {
  padding: 50px;
  box-sizing: border-box;
  width: 300px;
}
.slick-prev:before, .slick-next:before {
  color:  #3aaa35;
  font-size: 35px;
}
.slick-slide p {
  display: block;
}
.slick-slide span {
  display: block;
  color: #3aaa35;
  margin-top: 15px;
}
#temoignages .button {
  margin-top: 50px;
}

/*REGLES PAGE PRESTATIONS-----------------------------------------------------*/

.prestation .img {
  background-color: #3aaa35;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;

}
#prestation-site-vitrine .img {
  background-image: url('../img/mockup/mock-3.jpg');
}
#prestation-site-ecommerce .img {
  background-image: url('../img/mockup/mock-4.jpg');
}
.prestation ul li:before {
  content: url('../img/success.png');
  margin-right: 10px;
  height: 20px;
  margin-top: 5px;
}
.prestation ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}
#developpement article img {
  height: 80px;
  margin-top: 30px;
}
#developpement article h3 {
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 300;
  position: relative;
}
#developpement article h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 2px #3aaa35;
  bottom: -15px;
  left: 0;
  -webkit-transform: scaleX(0.4);
  -ms-transform: scaleX(0.4);
  transform: scaleX(0.4);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
#developpement article p {
  margin-top: 20px;
  text-align: justify;
}
/*REGLES PAGE REALISATIONS----------------------------------------------------*/
#realisations .realisation-top {
  background-color: #575756;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;

}

#realisations article {
  width: 100%;
  min-height: 300px;
  /*background-color: grey;*/
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
#realisations .more {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #3aaa35;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5000;
  /*opacity: 0.6;*/
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-image: url('../img/ic_add.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#realisations .realisation-title {
  display: block;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
#realisations .more:hover {
  cursor: pointer;
}
#realisations article .content {
  padding: 15px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  left: -100%;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: center;
}
/*#realisations article:hover .content {
left: 0;
}*/
.show-content {
  left: 0!important;
}
/*#realisations article .content strong {
display: block;
font-weight: normal;
text-transform: uppercase;
font-size: 2rem;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}*/
#realisations article .content p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}
#realisations article .content a {
  margin-left: auto;
  margin-right: auto;
  float: left;
}
#mps {
  background-image: url("../img/realisations/mps/mockup_mps.jpg");
}
#global {
  background-image: url("../img/realisations/global/mockup_global.jpg");
}

/*REGLES PAGE REALISATION SINGLE----------------------------------------------*/
#realisation strong {
  font-size: 2.5rem;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  color: #3aaa35;
  margin-top: 20px;
}
#realisation .partenaires {
  display: block;
}
#realisation .info {
  margin-top: 20px;
}


/*REGLES PAGE CONTACT---------------------------------------------------------*/
#contact-maps {padding-bottom: 20px;}

#contact-maps .col-md-12 {
  padding: 0;
}

#map {
  height: 300px;
  width: 100%;
}
#contact-form p {
  /*font-size: 2.5rem;*/
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-box {
  /*width: 100%;*/
  /*margin: auto;*/
  background-color: #f2f3f8;
  padding: 10px 30px 20px 30px;
}
.form-box label {
  color: #3aaa35;
  margin-top: 15px;
}
.form-box input {
  border: none;
}
.form-box input::-moz-selection {
  border: solid 1px #3aaa35;
}
.form-box input::selection {
  border: solid 1px #3aaa35;
}
.form-box textarea {
  border: none;
}
.form-box p {
  color: #3aaa35;
}

/*REGLES FOOTER---------------------------------------------------------------*/

footer {
  background-color: #878787;
  background-color: #575756;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
